.gradle
.idea
build
processed
raw
U3434582.htm
Taxes.xlsx
src/main/resources/bot.properties
src/main/resources/db.properties
src/main/resources/parameters.properties
src/main/resources/payments.properties